/* General spacing for all screen sizes */
.nav-link, .btn {
   /* Increase font size */
  font-family: "Edu AU VIC WA NT Hand", cursive; /* Change font style */
}
.nav-item:not(:last-child) {
  margin-right: 2.4rem; /* Space between nav items font-family: "WindSong", cursive; font-family: "Allura", cursive;*/
}
.navbar-brand{
  
  color: black;
  font-family: "Sofia", cursive; 
  margin-left: 25px;      
}
.nav-menu {
  margin-right: 70px;
}
.full-screen-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the screen without distortion */
  background-position: 50%;
}

.overlay-content {
  position: absolute;
  top: 55%;
  left: 2%; /* Adjust the left position as needed */
  transform: translateY(-50%);
  max-width: 550px; /* Limits the width of the content */  
}

.overlay-content h2 {  
  margin-bottom: 1rem;
  font-family: "Crimson Pro", serif;  
}

.overlay-content p {  
  font-family: "Josefin Slab", serif;  
}

.new{
  margin-top: 100vh; /* Pushes the section below the viewport height */
  text-align: center;
  padding-top:5%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.new img {
  width: 50%;
  height: 40%;  
}

.new h2{
  font-family: "Edu AU VIC WA NT Hand", cursive;
}
.new h4{
  font-family: "Crimson Pro", serif;
  text-align: center;
}
.new p{
  font-family: "Josefin Slab", serif;     
}
.custom-section{  
  padding-top: 5%;
  text-align: center;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.custom-section h5{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  /*font-size: 36px;*/
}

.custom-section p{
  font-family: "Josefin Slab", serif;
   /*font-size: 16pt; */
}
.caption h5{
  margin-top: 5%;
  text-align: center;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  
}
.custom-about{
  padding-top: 10%;   
  font-family: "Sofia", cursive;  
  text-align: justify;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

hr{
  border: 0;
  height: 15px; /* Set the thickness of the hr line */
  width: 1000px;
  background-color:#ffc107; /* Match the color of the h1 text */
  margin-left: 15%; /* Align with the padding of h1 */
  margin-top: 0%; /* Match the top margin of h1 */
  margin-bottom: 5%; /* Adjust spacing below */
  border-radius: 50%;

  
}

.copyright{
  margin-top: -3%;
  font-family: 'Times New Roman', Times, serif;  
  text-align: right;
  margin-bottom: 0.5%;
}
.toplink{
  text-decoration: none;
  margin-top: 2%;
  color:black;
  border: 3px solid black;
  border-radius: 45%;
  padding: 0.5% 0.5% 0 0.5%;
  font-family: "Cooper Black";
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;  
  opacity: 0.1; /* Slightly transparent */
  transition: opacity 0.1s; /* Smooth transition for opacity */
}

.form-content{
  font-family: "Sofia", cursive;   
}